/* General styling for component (indirect parent of many others) */
.App-header {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.home-button,
.search-button {
  margin: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f8fa;
}

.App-header {
  text-align: center;
  padding: 20px;
}
