.controls-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  padding: 9px;
}

/* Clear all filters button styling */
.clear-filters-button {
  color: #dc3545; /* Red text color */
  border: 2px solid #dc3545; /* Red border */
  padding: 9px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px; /* Space between dropdown button and clear button */
}

/* Change background color on hover */
.clear-filters-button:hover {
  background-color: #f8d7da; /* Light red background on hover */
  color: #721c24; /* Darker red text color on hover */
  border: 2px solid #dc3545; /* Red border */
}
