.App-header {
  text-align: center;
  padding: 50px; /* Adjust padding as needed */
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.home-button,
.search-button {
  margin: 10px; /* Adjust margin around buttons */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f8fa;
}

.App-header {
  text-align: center;
  padding: 20px;
}
